<%= form_for @nugget, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
     <%= f.select(:position, 1..@nuggets_count, :class => 'control-label') %>     
    </div>
  </div>
  <div class="control-group">
    
    <div class="controls">
      <%= f.text_field :position, :class => 'text_field' %>
    </div>
  </div>
  <br>
  <div class="form-actions">
      <%= f.hidden_field :course_id, :value => @course.id %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to("Cancel",{:controller => 'nuggets', :action => 'index', :course_id => @course.id }, :class => 'btn btn-primary' )   %>
  </div>
<% end %>
