<%- model_class = Nugget -%>
<div class="page-header">
  <h1><%=t '.title', :default => @course.name %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @nuggets.each do |nugget| %>
      <tr>
        <td><%= link_to nugget.name, nugget_path(nugget) %></td>
        <td><%= nugget.description %></td>
        <td><%= nugget.position %></td>
        <td><%=l nugget.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_nugget_path(nugget, :course_id => nugget.course_id), :class => 'btn btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      nugget_path(nugget),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to("Add New", {:controller=> 'nuggets', :action => 'new', :course_id => @course.id}, :class => 'btn btn-primary' ) %>
