<div class="container">
	<div class="row well">
		<!--div class="col-md-2">
    	    <ul class="nav nav-pills nav-stacked well">
              <li class="active"><%= link_to(" Profile","#",:class=>"fa fa-user"); %></li>
              <li><%= link_to(" Compose","#",:class=>"fa fa-envelope"); %></li>
              <li><%= link_to(" Home","#",:class=>"fa fa-home"); %></li>
              <li><%= link_to(" Security","#",:class=>"fa fa-key"); %></li>
              <li><%= link_to(" Logout","/users/sign_out",:class=>"fa fa-sign-out"); %><li>        
            </ul>
        </div-->
        <div class="col-md-10">
                <div class="panel">
                	<%= image_tag(@cur_pic,:height=>200,:width=>120,:class=>"pic img-circle", :style => "height:170px;width:180px" ); %>
                    <a href="#" class="btn btn-xs btn-primary" style="margin:10px;"><span class="glyphicon glyphicon-picture"></span>
                    <%= form_for( current_user,:url => "/users/update", :html => { :method => :put, :role => 'form',:multipart=> true}) do |f| %>
                    <%= f.hidden_field :id, :value => @cur_id %>
                    <%= f.file_field :avatar,:onchange=>"javascript:this.form.submit()" %>
                    <% end  %>

                    </a>
                    <!--img class="pic img-circle" src="/public/images/<%= @cur_user %>.jpg" alt="..."-->
                    <div class="name"><small><%= @cur_user %></small></div>
                    <a href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;"><span class="glyphicon glyphicon-picture"></span> Change cover</a>
                </div>
                
    <br><br><br>
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#inbox" data-toggle="tab"><i class="fa fa-envelope-o"></i> Inbox</a></li>
      <li><a href="#sent" data-toggle="tab"><i class="fa fa-reply-all"></i> Sent</a></li>
      <li><a href="#assignment" data-toggle="tab"><i class="fa fa-file-text-o"></i> Assignment</a></li>
      <li><a href="#event" data-toggle="tab"><i class="fa fa-clock-o"></i> Event</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="inbox">
        <a type="button" data-toggle="collapse" data-target="#a1">
            <div class="btn-toolbar well well-sm" role="toolbar"  style="margin:0px;">
              <div class="btn-group"><input type="checkbox"></div>
              <div class="btn-group col-md-3">Admin <%= @cur_user %></div>
              <div class="btn-group col-md-8"><b>Hi Know_infinite fuckers</b> <div class="pull-right"><i class="glyphicon glyphicon-time"></i> 4:30 AM <button class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-share-square-o"> Reply</i></button></div> </div>
            </div>
        </a>
        <div id="a1" class="collapse out well">This is test message </div>
        <br>
        <button class="btn btn-primary btn-xs"><i class="fa fa-check-square-o"></i> Delete Checked Item's</button>
      </div>
     
       
      <div class="tab-pane" id="sent">
            <a type="button" data-toggle="collapse" data-target="#s1">
            <div class="btn-toolbar well well-sm" role="toolbar"  style="margin:0px;">
              <div class="btn-group"><input type="checkbox"><% @cur_user %></div>
              <div class="btn-group col-md-3"><% @cur_user %></div>
              <div class="btn-group col-md-8"><b>This is test</b> <div class="pull-right"><i class="glyphicon glyphicon-time"></i> 12:30 AM</div> </div>
            </div>
        </a>
        <div id="s1" class="collapse out well">This is test 2</div>
        <br>
        <button class="btn btn-primary btn-xs"><i class="fa fa-check-square-o"></i> Delete Checked Item's</button>
      </div>
      
      
     <!--div class="tab-pane" id="assignment">
        <a href=""><div class="well well-sm" style="margin:0px;">Open GL Assignments <span class="pull-right"><i class="glyphicon glyphicon-time"></i> 12:20 AM 20 Dec 2014 </span></div></a>        
     </div-->
     
     <div class="tab-pane" id="event">
       <div class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object img-thumbnail" width="100" src="http://cfi-sinergia.epfl.ch/files/content/sites/cfi-sinergia/files/WORKSHOPS/Workshop1.jpg" alt="...">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Animation Workshop</h4>
                    
                    2Days animation workshop to be conducted
                  </div>
            </div>
    </div>
    
    
        
    </div>

     </div>
	</div>
    
    
</div>




<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"><br/><br/>
            <form class="form-horizontal">
            <fieldset>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="body">Body :</label>  
              <div class="col-md-8">
              <input id="body" name="body" type="text" placeholder="Message Body" class="form-control input-md">
                
              </div>
            </div>
            
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="message">Message :</label>
              <div class="col-md-8">                     
                <textarea class="form-control" id="message" name="message"></textarea>
              </div>
            </div>
            
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="send"></label>
              <div class="col-md-8">
                <button id="send" name="send" class="btn btn-primary">Send</button>
              </div>
            </div>
            
            </fieldset>
            </form>

    </div>
  </div>
</div>

