<h1>Listing nugget_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nugget_types.each do |nugget_type| %>
      <tr>
        <td><%= nugget_type.name %></td>
        <td><%= link_to 'Show', nugget_type %></td>
        <td><%= link_to 'Edit', edit_nugget_type_path(nugget_type) %></td>
        <td><%= link_to 'Destroy', nugget_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nugget type', new_nugget_type_path %>
