<h1>Listing subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <!--tbody>

    <% @user_subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.user_id %></td>
        <td><%= subscription.course_id %></td>
        <td><%= link_to 'Show', subscription %></td>
        <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
        <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody-->
</table>

<% @courses.zip(@user_subscriptions).each do |course,subscription| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag course.avatar.url(:medium), :height=>160,:width=>200 %>
        <div class="caption">
          <h3><%= course.name %></h3>
          <p><%= course.description %></p>
          <p>
          <%= link_to("View Course", view_course_path(course), :class => 'btn btn-primary') %>
          <%= link_to 'Unsubcribe', subscription, method: :delete, :class => 'btn btn-primary',data: { confirm: 'Are you sure?' } %>
          </p>

        </div>
      </div>
    </div>
<% end %>


<br>

<!--%= link_to 'New Subscription', new_subscription_path %-->
