<%= simple_form_for @vimeo_embed, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :vimeo_id %>
  <%= f.input :nugget_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vimeo_embeds_path, :class => 'btn' %>
  </div>
<% end %>
