<%- model_class = VimeoEmbed -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:vimeo_id) %></th>
      <th><%= model_class.human_attribute_name(:nugget_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vimeo_embeds.each do |vimeo_embed| %>
      <tr>
        <td><%= link_to vimeo_embed.id, vimeo_embed_path(vimeo_embed) %></td>
        <td><%= vimeo_embed.vimeo_id %></td>
        <td><%= vimeo_embed.nugget_id %></td>
        <td><%=l vimeo_embed.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vimeo_embed_path(vimeo_embed), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      vimeo_embed_path(vimeo_embed),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_vimeo_embed_path,
            :class => 'btn btn-primary' %>
