<%- model_class = VimeoEmbed -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:vimeo_id) %>:</strong></dt>
  <dd><%= @vimeo_embed.vimeo_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nugget_id) %>:</strong></dt>
  <dd><%= @vimeo_embed.nugget_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              vimeo_embeds_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_vimeo_embed_path(@vimeo_embed), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              vimeo_embed_path(@vimeo_embed),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
