<%# add navigation links to this file %>
<% if user_signed_in? %>
	<li class="dropdown" data-no-turbolink>
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
	  <ul class="dropdown-menu">
	    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
	    <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
	  </ul>
	</li>
<% else %>
  	<li><%= link_to 'Login', new_user_session_path %></li>
  	<li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
