<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Know Infinite', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="dropdown" data-no-turbolink>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teach<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'My Courses', courses_path %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Teach', courses_teach_path %></li>
        <% end %>
        <% if user_signed_in? %>
        <li class="dropdown" data-no-turbolink>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Learn<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'All Courses', courses_browse_path %></li>
              <li><%= link_to 'My Subscriptions', "/subscriptions" %></li>
            </ul>
        </li>
        <%else%>
        <li><%= link_to 'Learn', courses_browse_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/navigation_links_right' %>
      </ul>
    </div>
  </div>
</nav>
